body {
    background-color: rgb(247, 241, 235);
}

/* h1 {
    color: red;
} */

.special-text {
    font-size: 50px;
    color: rebeccapurple;
}

#contacts-link {
    color: green;
}

a[href="https://softuni.bg/"] {
    color: palevioletred;
}

/* ul h1 {
    color: blue;
} */


/* Specificity - [1 0 0] */
#contacts-link {
    color: grey;
}

/* Specificity - [0 1 0] */
.special-text {
    color: pink;
}

/* Specificity - [0 1 1] */
a[href="https://softuni.bg/"] {
    color: yellowgreen;
}

/* Specificity - [0 0 4] */
ul ol li h1 {
    color: green;
}

/* Specificity - [0 0 1] */
h1 {
    color: red;
}


/* Text & Font examples */


html {
    font-size: 16px;
}

section .title {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
}

section ul {
    font-size: 2rem;
    font-weight: bold;
}

section .description {
    font-size: 1.2rem;
    text-indent: 15px;
    /* opacity: 0.5; */
    /* color: rgba(0, 0, 0, 0.5); */
    text-shadow: 5px 5px 4px orangered;
}

.longText {
    font-size: 3rem;
    background-color: greenyellow;
    width: 300px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* img {
    opacity: 0.5;
} */

/* html {
    font-size: 20px;
}

section .title {
    font-size: 2em;
}

section ul {
    font-size: 0.75em;
} */