body {
    background-color: rgb(194, 192, 190)
}

.title {
    text-align: center;
    font-style: italic;
    font-size: 3rem;
    padding-top: 35px;
}

.navigation {
    list-style-type: none;
    display: flex;
    gap: 25px;
    justify-content: space-around;
    /* border: 1px solid green; */
}

.navigation li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

h2 {
    padding-top: 50px;
    text-align: center;
}

