.flex-container {
    border: 2px solid blue;
    width: 400px;
    padding: 1em;
    display: flex;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.end {
    justify-content: end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}