.header-nav {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.header-nav li {
    list-style-type: none;
    border: 1px solid green;
    padding: 5px 8px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

h1,h2,h3, p {
    text-align: center;
}

@media (width <= 400px) {
    .header-nav {
        flex-direction: column;
        gap: 0;
    }
    
    .header-nav li {
        text-align: center;
        font-size: 30px;
    }

    .link {
        display: none;
    }
}