.flex-container {
    border: 2px solid blue;
    width: 400px;
    padding: 1em;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.flex-grow-one .flex-item {
    flex-grow: 1;
}

.flex-grow-2nd-only .flex-item:nth-child(2) {
    flex-grow: 1;
}

.flex-grow-proportional .flex-item:nth-child(1) { flex-grow: 1; }
.flex-grow-proportional .flex-item:nth-child(2) { flex-grow: 2; }
.flex-grow-proportional .flex-item:nth-child(3) { flex-grow: 3; }